<div class=" container mb-5">
  <div class="row my-4">
    <h2 class="col-3 mb-5 offset-2">スケジュール編集</h2>
    <div class="col-2 mb-5"><%= link_to "削除", plan_path(@plan.id), method: :delete, class: "btn btn-danger" %></div>
  </div>
   <%= form_with model: @plan, url: plan_path, method: :patch do |f| %>
    <ul class="row mb-5" style="list-style:none;gap:1em;">
        <%= f.collection_check_boxes(:friend_ids, @friends, :id, :last_name) do |b| %>
        <li>
          <%= b.label { b.check_box } %>
          <% if b.object.image.attached? %>
            <%= image_tag b.object.image, size: "50x50" %>
          <% else %>
            <%= image_tag asset_path('no_image.jpg'), size: "50x50" %>
          <% end %>
            <%= b.object.nickname %>
        </li>
      <% end %>
    </ul>
  <div class="row my-3">
    <div class="col-2 offset-3"><%= f.label :タイトル %></div>
    <div class="col-5"><%= f.text_field :title %></div>
  </div>

  <div class="row my-3">
    <div class="col-2 offset-3"><%= f.label :日程 %></div>
    <div class="col-5"><%= f.datetime_field :plan_date %></div>
  </div>

  <div class="row my-3">
    <div class="col-2 offset-3"><%= f.label :場所 %></div>
    <div class="col-5"><%= f.text_field :place %></div>
  </div>
  
  <div class="row my-3">
    <div class="col-2 offset-3"><%= f.label :メモ %></div>
    <div class="col-5"><%= f.text_field :memo %></div>
  </div>
  
  <div class="row my-3">
    <div class="col-2 offset-3"><%= f.label :ステータス %></div>
    <div class="col-5"><%= f.select :status, Plan.statuses.keys.map {|k| [I18n.t("enums.plan.status.#{k}"), k]}  %></div>
  </div>
  
  <div class="row my-4　mb-5">
    <div class="col-4 mt-5 offset-5"><%= f.submit "編集内容を保存", class: "btn btn-success" %></div>
  </div>
   <div class="row my-4 justify-content-center">
      <div id='map'></div>

  <style>
    #map {
      height: 400px;
      width: 400px;
    }
  </style>

  <script>
    let map
    console.log('edit');
    function initMap(){
      geocoder = new google.maps.Geocoder()
      var url = window.location.href; //URLを取得
      var matches = url.match(/\/(\d+)\/edit$/); //URLの中のスケジュ-ルidを取得(正規表現)
       console.log('plan_id:', matches);
      var number = matches[1]; //URLのplan_id取得
      $.ajax({
          url: `/plans/${number}/get`,
          type: 'GET',
          success: function(data) {
            // Ajaxリクエストが成功した場合の処理
            console.log('Coordinates:', data);
            geocoder.geocode({'address': data.place }, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              var latitude = results[0].geometry.location.lat();
              var longitude = results[0].geometry.location.lng();
              console.log("緯度: " + latitude + ", 経度: " + longitude);
              map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: latitude, lng: longitude},
              zoom: 12,
              });
               marker = new google.maps.Marker({
               position:  {lat: latitude, lng: longitude},
               map: map
            });

            } else {
              console.log("Geocode 失敗: " + status);
            }
          });
          },
          error: function(xhr, status, error) {
            // Ajaxリクエストが失敗した場合の処理
            console.error(error);
          }
    });





    }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>


   </div>
    
  
  
 <% end %>
</div>

 

  
  


 
 