<h2>スケジュールを立てる</h2>
<%= button_to '追加', new_plan_path, method: :post %>
<% @friends.each do |friend| %>
  <% if friend.image.attached? %>
    <%= image_tag friend.image, size: "50x50" %>
  <% else %>
    <%= image_tag 'no_image', size:"50x50" %>
  <% end %>
  <%= friend.nickname %>
<% end %>

  <%= form_with model: @plan do |f| %>
    <%= f.collection_check_boxes(:friend_id, @friends, :id, :last_name) do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
<% end %>

<%= form_with model: @plan, url: plans_path do |f| %>
  <%= f.label :タイトル %>
  <%= f.text_field :title %>
  
  <%= %>
  <%= %>
  
  <%= f.label :場所 %>
  <%= f.text_field :place %>
  
  <%#マップ機能を実装させたい。%>
  
  <%= f.label :メモ %>
  <%= f.text_field :memo %>
  
  <%= f.label :ステータス %>
  <%#=ステータス機能を実装 %>
  
  <%= f.submit "保存" %>
  
  <% end %>
  