<h2>スケジュール詳細</h2>

<%= link_to "編集", edit_plan_path %>

  <dl>
    <dt>タイトル</dt>
    <dd><%= @plan.title %></dd>

    <dt>日程</dt>
    <dd><%= l @plan.plan_date, format: :short %></dd>

    <dt>場所</dt>
    <dd><%= @plan.place %></dd>

    <dt>メモ</dt>
    <dd><%= @plan.memo %></dd>

    <dt>ステータス</dt>
    <dd> <%= @plan.status_i18n %></dd>
  </dl>


  <div id='map'></div>

  <style>
    #map {
      height: 400px;
      width: 400px;
    }
  </style>

  <script>
    let map

    function initMap(){
      geocoder = new google.maps.Geocoder()

      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 34.6650617, lng:135.4961973},
        zoom: 12,
      });

      marker = new google.maps.Marker({
        position:  {lat: 34.6650617, lng:135.4961973},
        map: map
      });
    }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>
