<div class="container">
  <div class="row my-4">
    <h2 class="col-3 mb-5 offset-2">スケジュール詳細</h2>
    <div class="col-2 mb-5"><%= link_to "編集", edit_plan_path, class: "btn btn-success" %></div>
  </div>

  <div class="row my-3">
    <div class="col-5  mb-5 offset-3">
       <table class="table">
        <thead>
          <tr>
            <th class="text-nowrap">タイトル</th>
            <th><%= @plan.title %></th>
          </tr>

          <tr>
            <th class="text-nowrap">日程</th>
            <th><%= @plan.plan_date.strftime("%Y年%m月%d日 %H:%M") %></th>
          </tr>
          <tr>
            <th class="text-nowrap align-middle">フレンド</th>
            <th>
              <%  @plan.friends.each do |friend| %>
              <div><%= friend.nickname %></div>
              <% end %>
            </th>
          </tr>
          <tr>
            <th class="text-nowrap align-middle">場所</th>
            <th>
              <%= @plan.place %>
              <div id='map'></div>
            </th>
          </tr>
           <tr>
             <th class="text-nowrap">メモ</th>
             <th><%= @plan.memo %></th>
           </tr>

            <tr>
              <th class="text-nowrap">ステータス</th>
              <th><%= @plan.status_i18n %></th>
            </tr>
           </thead>
        </table>
      </div>
    </div>
    
             <style>
            #map {
              height: 400px;
              width: 400px;
            }
          </style>

          <script>
            let map

            function initMap(){
              geocoder = new google.maps.Geocoder()
              var url = window.location.href; //URLを取得
              var lastSegment = url.split('/').pop();
              var number = parseInt(lastSegment);
              $.ajax({
                  url: `/plans/${number}/get`,
                  type: 'GET',
                  success: function(data) {
                    // Ajaxリクエストが成功した場合の処理
                    console.log('Coordinates:', data);
                    geocoder.geocode({'address': data.place }, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                      var latitude = results[0].geometry.location.lat();
                      var longitude = results[0].geometry.location.lng();
                      console.log("緯度: " + latitude + ", 経度: " + longitude);
                      map = new google.maps.Map(document.getElementById('map'), {
                      center: {lat: latitude, lng: longitude},
                      zoom: 12,
                      });
                       marker = new google.maps.Marker({
                       position:  {lat: latitude, lng: longitude},
                       map: map
                    });

                    } else {
                      console.log("Geocode 失敗: " + status);
                       map = new google.maps.Map(document.getElementById('map'), {
                      center: {lat: 34.6937249, lng: 135.5022535},
                      zoom: 12,
                      });
                    }
                  });
                  },
                  error: function(xhr, status, error) {
                    // Ajaxリクエストが失敗した場合の処理
                    console.error(error);
                  }
            });
            }

          </script>
          <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>
