<div class="container">
  <div class="row my-4">
    <h2 class="col-3 mb-5 offset-2">管理者ログイン</h2>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row my-3">
    <div class="col-3 offset-3"><%= f.label :メールアドレス %></div>
    <div class="col-4"><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></div>
  </div>
  
  <div class="row my-3">
    <div class="col-3 offset-3"> <%= f.label :パスワード %></div>
    <div class="col-4"><%= f.password_field :password, autocomplete: "current-password" %></div>
  </div>
  
  <div class="row my-3">
    <div class="col-4 offset-5"><%= f.submit "ログイン", class: "btn btn-primary" %></div>
  </div>
  
  <% end %>
</div>

  


