<h2>トピック編集</h2>

<%= link_to '削除', admin_topic_path(@topic.id), method: :delete %>
<%= form_with model: @topic, url: admin_topic_path, method: :patch do |f| %>

<%= f.label :カテゴリ %>
<%= f.text_field :category %>

<%= f.label :タイトル %>
<%= f.text_field :title %>

<%= f.label :内容 %>
<%= f.text_area :article %>

<%= f.label :写真イメージ %>
<%= f.file_field :image %>

<%= f.submit "変更内容を保存" %>

<% end %>