<div class="container">
  <div class="row my-4">
    <h2 class="col-3 mb-5 offset-3">連絡事項</h2>
    <div class="col-2"><%= link_to "+", new_admin_topic_path, class: "btn btn-secondary" %></div>
  </div>
  
  <% @topics.each do |topic| %>
  <%= link_to admin_topic_path(topic) do %>
  
  <div class="row my-3">
    <div class="col-1 offset-3"><%= topic.created_at.strftime("%Y") %></div>
    <div class="col-1"><%= topic.created_at.strftime("%m/%d") %></div>
    <div class="col-5"><%= topic.title %></div>
  </div>
   <% end %>
   <% end %>
   
  <div class="row my-3">
     <div class="col-5 offset-5"><%= paginate @topics %></div>
   </div>
</div>