<h2>トピック作成</h2>

<%= form_with model: @topic, url: admin_topics_path do |f| %>

<%= f.label :カテゴリ %>
<%= f.text_field :category %>

<%= f.label :タイトル %>
<%= f.text_field :title %>

<%= f.label :内容 %>
<%= f.text_area :article %>

<%= f.label :写真イメージ %>
<%= f.file_field :image %>

<%= f.submit "作成" %>

<% end %>