<div class="container">
  <div class="row my-4">
    <h2 class="col-3 mb-5 offset-2">トピック作成</h2>
  </div>
  <%= form_with model: @topic, url: admin_topics_path do |f| %>
  <div class="row my-3">
    <div class="col-3 offset-3"><%= f.label :カテゴリ %></div>
    <div class="col-5"><%= f.text_field :category %></div>
  </div>

  <div class="row my-3">
    <div class="col-3 offset-3"><%= f.label :タイトル %></div>
    <div class="col-5"><%= f.text_field :title %></div>
  </div>

  <div class="row my-3">
    <div class="col-3 offset-3"><%= f.label :内容 %></div>
    <div class="col-5"><%= f.text_area :article %></div>
  </div>

  <div class="row my-3">
    <div class="col-3 offset-3"><%= f.label :写真イメージ%></div>
    <div class="col-5"><%= f.file_field :image %></div>
  </div>

  <div class="row my-4">
    <div class="col-4 offset-5"><%= f.submit "作成", class: "btn btn-primary" %></div>
  </div>
  <% end %>
</div>



