<h2>トピック詳細</h2>

<%= link_to '編集', edit_admin_topic_path %>

<% if @topic.image.attached? %>
  <%= image_tag topic.iamge, size: "300x200" %>
<% else %>
  <%= image_tag 'no_image', size:"300x200" %>
<% end %>

<p>カテゴリ</p><%= @topic.category %>
<p>タイトル</p><%= @topic.title %>
<p>内容</p><%= @topic.article %>
