<div class="container">
  <div class="row my-5">
    <h2 class="col-lg-4 offset-3 mb-5">ジャンル一覧・追加</h2>
  </div>
  <%= form_with model: @genre, url: genres_path do |f| %>
  <div class="row my-3">
    <div class="col-lg-1.5 offset-3"><%= f.label :ジャンル名 %></div>
    <div class="col-lg-1"><%= f.text_field :name %></div>
    <div class="col-lg-1 offset-2 pb-1"><%= f.submit "新規登録", class: "btn btn-primary" %></div>
  </div>
  <% end %>
  
  <% @genres.each do |genre| %>
  <div class="row my-3">
    <div class="col-lg-2 offset-3"><%= genre.name %></div>
    <div class="col-lg-2"><%= link_to "編集する", edit_genre_path(genre.id), class: "btn btn-success" %></div>
  </div>
  <% end %>
</div>