<div class="bg-secondary text-white">
    <div class="row justify-content-center pt-5">
      <h1 class="text-center">Forever My Friends<br><span class="mt-3">〜〜大切な人との素敵な思い出を刻もう〜〜</span></h1>
    </div>
</div>
<style>

</style>
<div class="container mb-5">
  <% if current_user %>
    <div class="row justify-content-center">
      <p class="mt-5 col-1 offset-1">通知</p>
      <p class="mt-5 col-7">
        <% @notices.each do |notice| %>
          <% friend = notice.friend.nickname %>
            <% if notice.plan_id == "birthday" %>
              今日は<%= friend %>さんの誕生日です！
            <% end %>
           
          <% if notice.plan_id == "meet_friend" %>
            今日は<%= friend %>さんと会う日です！
          <% end %>
       
          <% if notice.plan_id =="neglect_friend" %>
            <%= friend %>さんと連絡をとっていませんか？
          <% end %>
        <% end %>
      </p>
    </div>
  <% end %>
  
  <div class="row my-3">
    <div class="col-9 mb-5 offset-2">
      <table class="table">
      <tbody>
        <tr>
          <th>日付</th>
          <th>管理人からお知らせ</th>
          <th>詳細</th>
        </tr>
         <% @topics.each do |topic| %>
        <tr>
           <th><%= topic.created_at.strftime("%Y/%m/%d") %></th>
           <th><%= topic.title %></th>
           <th><%= topic.article %></th>
        </tr>
        <% end %>
      </tbody>
    </table> 
    </div>
  </div>
</div>
