<div class="container">
    <div class="row my-4">
        <div class="col-3 mb-3 offset-3"><%= flash[:notice] %></div>
    </div>
  <div class="row my-4">
    <h2 class="col-3 mb-5 offset-3">フレンド一覧</h2>
    <p class="col-2">フレンド<%= @count %>人
    <span>
      <%= link_to new_friend_path do %>
        <i class="fa-solid fa-user-plus"></i>
      <% end %>
    </span>
    <style>
      /* iクラスの色を変えたい.i { color: $green; } */
    </style>
    </p>
  </div>
   <% @friends.each do |friend| %>
      <%= link_to (friend_path(friend.id)) do %>
  <div class="row my-3 justify-content-center">

      <div class="col-2 offset-2 my-2">
         <% if friend.image.attached? %>
         <%= image_tag friend.image, size: "60x60" %>
         <% else %>
         <%= image_tag 'no_image.jpg', size:"100x100" %>
         <% end %>
      </div>
      <div class="col-3 my-2">
         <%= friend.nickname %>
      </div>
    </div>
       <% end %>
     <% end %>

    <div class="row my-3">
     <div class="col-5 offset-5"><%= paginate @friends %></div>
   </div>
  </div>


