<div class="container">
  <div class="row my-4">
    <h2 class="col-3 mb-5 offset-2">フレンド登録</h2>
  </div>
  <%= form_with model: @friend, local: true do |f| %>
  <div class="row my-3">
    <div class="col-2 offset-3"><%= f.label :写真 %></div>
    <div class="col-5"><%= f.file_field :image %></div>
  </div>
  
  <div class="row my-3">
    <div class="col-2 offset-3"><%= f.label :氏名 %></div>
    <div class="col-2 mr-1"><%= f.text_field :last_name, placeholder: "名字" %></div>
    <div class="col-2"><%= f.text_field :first_name, placeholder: "名前" %></div>
  </div>
  
   <div class="row my-3">
    <div class="col-2 offset-3"><%= f.label :フリガナ %></div>
    <div class="col-2 mr-1"><%= f.text_field :last_name_kana, placeholder: "ミョウジ" %></div>
    <div class="col-2"><%= f.text_field :first_name_kana, placeholder: "ナマエ" %></div>
  </div>
  
  <div class="row my-3">
    <div class="col-2 offset-3"><%= f.label :ニックネーム %></div>
    <div class="col-5"><%= f.text_field :nickname, placeholder: "太朗ちゃん" %></div>
  </div>
  
  <div class="row my-3">
    <div class="col-2 offset-3"><%= f.label :性別 %></div>
    <div class="col-5"><%= f.select :gender, Friend.genders.keys.map {|k| [k, k]}, include_blank: "--選択して下さい--"  %></div>
  </div>
  
  <div class="row my-3">
    <div class="col-2 offset-3"><%= f.label :誕生日 %></div>　　<%# ○月○日にしたい%>
    <div class="col-3">
      <%= f.date_select :birthday, { use_month_numbers: true, use_two_digit_numbers: true, discard_year: true } %>年
      <%#= select_month(nil, { use_month_numbers: true, prefix: :user, field_name: 'birthday_month' }) %> 月
      <%#= select_day(nil, { use_two_digit_numbers: true, prefix: :user, field_name: 'birthday_day' }) %> 日
    </div>
  </div>
  
  <div class="row my-3">
    <div class="col-2 offset-3"><%= f.label :趣味　%></div>
    <div class="col-5"><%= f.text_field :hobby, placeholder: "バスケ、お酒等" %></div>
  </div>
  
  <div class="row my-3">
    <div class="col-2 offset-3"><%= f.label :カテゴリ %></div>
    <div class="col-5"><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択して下さい--" %></div>
  </div>
  
  <div class="row my-4">
    <div class="col-4 offset-5"><%= f.submit :保存,  class: "btn btn-primary"  %></div>
  </div>
  <% end %>
</div>
