<div class="container">
  <h2 class="col-3 mt-5">ログイン</h2>
  <p class="col-3 mt-4 border border-text">会員の方はこちらからログイン</p>
  <%= form_with model: @user, url: user_session_path do |f| %>
  <div class="row my-3">
    <div class="col-3"><%= f.label :メールアドレス %></div>
    <div class="col-4"><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></div>
  </div>
  <div class="row my-3">
    <div class="col-3"><%= f.label :パスワード %></div>
    <div class="col-3"><%= f.password_field :password, autocomplete: "current-password" %></div>
  </div>
  
   <div class="row my-3">
    <div class="col-3"></div>
    <div class="col-4 center-block text-light">
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
   </div>
   <div class="row my-3">
     <p class="col-2.5 border border-text">会員がお済みでない方は</p>
   </div>
   <div class="row my-3">
      <p class="col-5"><%= link_to "こちら", new_user_registration_path %>から新規登録を行なってください。</p>
   </div>
   <% end %>
</div>



