<h2>My情報</h2>

<%= link_to "編集", users_edit_path %>

<table>
  <tr>
    <th>氏名</th>
    <th><%= @user.last_name + @user.first_name %></th>
  </tr>
  <tr>
    <th>カナ</th>
    <th><%= @user.last_name_kana + @user.first_name_kana %></th>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <th><%= @user.email %></th>
  </tr>
  <tr>
    <th>パスワード</th>
    <th><%= @user.encrypted_password %></th>
  </tr>
</table>