<!DOCTYPE html>
<html>
  <head>
    <title>ForeverMyFriends</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
       <% if user_signed_in? %>
       <%= link_to "ロゴ", root_path %>
       <h3>ようこそ、<%= current_user.last_name %>さん！</h3>
       <div class="search-form">
        <%= form_with url: search_path, local: true, method: :get do |f| %>
        <%= f.text_field :word %>
        <%= f.select :range, options_for_select([['Friend'], ['Plan']]) %>
        <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
        <%= f.submit "検索", class: "btn btn-primary" %>
        <% end %>
  </div>
        
       <% elsif admin_signed_in? %>
       <%= link_to "ロゴ", root_path %>
       <% else %>
       <%= link_to "ロゴ", root_path %>
       <% end %>
    </header>
     <%= yield %>
    <footer>
      <% if user_signed_in? %>
        <li>
          <%= link_to "My情報", users_my_page_path %>
        </li>
        <li>
           <%= link_to "フレンドリスト", friends_path %>
        </li>
        <!--<li>-->
           <!--<%#= link_to "カレンダー", **** %>-->
        <!--</li>-->
        <li>
          <%= link_to "友人カテゴリ", genres_path %>
        </li>
        <li>
           <%= link_to "スケジュール",  plans_path %>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>

    　<% elsif admin_signed_in? %>
    　<li>
    　   <%= link_to "トピック管理", admin_topics_path  %>
    　</li>

    　<li>
    　   <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
    　</li>

      <% else %>
        <li>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
      <% end %>





    </footer>

  </body>
</html>
